.grid {
	margin-top: 2rem;

	&.css3 {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
		gap: 1.25rem;
		grid-template-rows: masonry;
	}

	&.column {
		column-count: 6; /* Number of masonry columns */
		column-gap: 1.5rem; /* Space between columns */

		@media (max-width: 1900px) {
			column-count: 5;
		}

		@media (max-width: 1400px) {
			column-count: 4;
		}

		@media (max-width: 1024px) {
			column-count: 3;
		}

		@media (max-width: 768px) {
			column-count: 2;
		}
	}
}
