// Colors
$white: #fff;
$black: #222;
$gray: #eaeaea;
$lt-gray: #f8f8f8;
$red: #e60023;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// .work-sans-<uniquifier> {
//   font-family: "Work Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }
